@import "../../config/_variables";

.feed_dt_container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  .closeBtn {
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
  }
  .box {
    display: flex;
    //margin-left: 10px;

    width: 100%;
    height: auto;
    max-width: 900px;
    .column {
      width: 100%;
      .img {
        max-height: 450px;
      }
      .content {
        background-color: white;
        width: 40%;
        min-width: 304px;
        padding: 20px;
        display: block;
        min-height: 450px;
        .first_row {
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 100%;
          margin-bottom: 10px;
          .profileImg {
            height: 40px;
            border-radius: 50%;
          }
          .username {
            width: 70%;
            font-size: 16px;
            line-height: 25px;
          }
        }
        .second_row {
          padding: 12px 0;
          border-top: 1px solid $light-grey;
          min-height: 200px;
          border-bottom: 1px solid $light-grey;
          overflow: hidden;
          .tag {
            color: blue;
          }
          .comments {
            margin: 10px 0;
            font-size: 15px;
          }
        }
      }
      .img {
        width: 60%;
        min-width: 600px;
      }
    }
  }
}
