@import "../../config/_variables";
.container {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 300px;
  ///border: 1px solid black;
  width: 500px;
  .spinner {
    height: 32px;
    animation: spinner 1.2s steps(12) infinite;
  }
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
