@import "../../config/_variables";
.profile_container {
  display: flex;
  justify-content: center;
  align-content: center;

  //height: 300px;
  .column {
    margin-top: 110px;
    padding: 50px;
    .profileImg {
      width: 150px;
      border-radius: 50%;
    }
    .divider {
      line-height: 40px;
      display: flex;
      justify-content: space-between;
      .username {
        font-size: 28pt;
        line-height: 32px;
        margin: -5px 0 -6px;
      }
      .count {
        font-size: 12pt;
        font-weight: bold;
        margin-right: 5px;
        cursor: pointer;
      }
      .text {
        font-size: 12pt;
        margin-right: 10px;
      }
      .name {
        font-size: 14pt;
      }
      .btn {
        height: 30px;
        font-size: 12pt;
        border-radius: 5px;
        color: gray;
        cursor: pointer;
        margin-left: 10px;
      }
    }
  }
}
.photo_container {
  display: flex;
  justify-content: center;
  //align-content: center;
  width: 100%;
  .content {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    //justify-content: center;
    width: $max-page-width;
  }
}
.profile_loading {
  display: flex;
  justify-content: center;
  //align-content: center;
}
