@import "../../config/_variables";
.search {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $max-page-width;
  margin: 0 auto;
  align-items: center;
  .section {
    width: 100%;
    margin-bottom: 80px;
    .space {
      height: 100px;
    }
    .title {
      text-align: left;
      color: $dark-grey;
      font-weight: 600;
      margin-bottom: 20px;
    }
    .not-found {
      text-align: center;
      width: 100%;
      display: block;
      font-weight: 600;
    }
    .photo-grid {
      //border: 1px solid red;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1.5em;
      width: $max-page-width;
    }
  }
}
