@import "../../config/_variables";
.ul_container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .box {
    @include boxBorder(no);
    width: 100%;
    max-width: $max-card-width;
    max-width: 400px;
    .ul_header {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 2px solid $light-grey;
      padding: 10px;
      svg {
        cursor: pointer;
      }
    }
    .title {
      order: 1;
      margin-left: auto;
      margin-right: auto;
      font-weight: 600;
      font-size: $big-font-size;
    }
  }
  .content {
    overflow: auto;
    display: flex;
    align-items: flex-start;
    min-height: 400px;
    flex-direction: column;
  }
}
